._3YjYK7 {
  list-style: none;
  padding: 0;
  margin: 0;
}

._3YjYK7 a {
  text-decoration: none;
  color: #000;
}

._2Udqwk {
  display: block;
  padding: 0.8rem 1.2rem;
  font-size: 1.4rem;
  font-weight: 500;
}

._1Mikcj {
  margin-left: 0.8rem;
  font-weight: bold;
}

.AT0fUR {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.8rem 1.2rem;
  font-size: 1.4rem;
  transition: background-color 0.3s;
}

.AT0fUR:hover {
  background-color: #f4f4f4;
}

._3pKU-e {
  margin-right: 1.2rem;
}

.SFnind {
  width: 2rem;
  height: 2rem;
}

/* Add any additional styling as needed */
