.electronics_container {
  display: flex;
  height: 35rem;
}

.left-part {
  height: 100%;
  width: 79%;
  margin: 0 1rem;
  background-color: white;
  padding: 0 3rem;
}

.right-part {
  width: 19%;
  height: 100%;
  background-color: white;
}

.right-part img {
  height: 100%;
  width: 100%;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.head h2 {
  margin-top: 1rem;
  margin-left: 1rem;
  font-weight: 600;
  font-size: 2rem;
  color: #212121;
}
.head a {
  margin-top: 1rem;
}

.title-0 {
  margin: 0;
  font-size: 1.4rem;
  font-family: "inter_regular,fallback-inter_regular,Arial,sans-serif";
  color: #212121;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title-1 {
  margin: 0;
  white-space: nowrap;
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  font-size: 1.4rem;
  letter-spacing: -0.001rem;
  font-weight: 600;
  font-family: "inter_semi_bold, fallback-inter_semi_bold, Arial, sans-serif";
  color: #212121;
}

._8BoxesContainer {
  display: flex;
  overflow: hidden;
}

.imgSize {
  width: 20rem;
  height: 18.5rem;
  margin: auto;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: contain;
  opacity: 1;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.box {
  width: 20rem;
  padding: 1em;
  height: 26rem;
  text-align: center;
  background-color: white;
  cursor: pointer;
  border-width: 0.1rem;
  box-sizing: border-box;
  margin: 0.8rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.4rem;
}

.box:hover img {
  transform: scale(1.1);
}

.half-box {
  width: 50%;
  float: left;
}

.boxItem {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.leftpart-card-container {
  height: 75%;
  display: flex;
}

.card-product-main-container {
  display: flex;
}

.card-btn {
  position: absolute;
  padding: 2rem 2rem;
  height: 12rem;
  font-size: 2rem;
  margin: auto 0;
  color: #878787;
  background-color: white;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

#card-btn-left {
  /* display: none; */
  z-index: 10;
}

.card-btn-container {
  position: relative;
  width: o.5rem;
  margin: auto;
  top: -5.5rem;
}

#card-btn-right {
  margin-left: -4rem;
}

#translate-body {
  overflow: hidden;
}
