.header__searchButton {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  font-size: 1.7rem;
  cursor: pointer;
  border-radius: 0.7rem;
  padding: 0.8rem 0.8rem 0.8rem 1.2rem;
  background-color: #f1f5fe;
}

.header__searchButton input::placeholder {
  color: #666666;
}

.header__searchButton input {
  background-color: transparent;
  width: 57.2rem;
  margin-left: 1rem;
}

.header__searchButton input:focus {
  outline: none;
}

.header {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 1.6rem;
  font-family: "Roboto", sans-serif bold;
  color: #666666;
  font-size: "1.2rem";
  pointer-events: auto;
}

.header a {
  color: black;
}

.login__button {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.icon {
  width: 16rem;
  height: 4rem;
}

.form-class {
  display: inline-block;
  width: 100%;
  position: relative;
  border-radius: 0.8rem;
  background-color: #f0f5ff;
}

.login__icon {
  margin-right: 0.8rem;
}

.dropdown-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.login_container {
  border: 1px solid transparent;
  border-radius: 1.5rem;
  position: relative;
}

._2Udqwk {
  font-size: 1.6rem;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.yx2hEq {
  color: #000;
  text-decoration: none;
  text-align: center;
  font-size: 1.4rem;
  cursor: pointer;
}

._3pKU-e {
  display: flex;
}

.SFnind {
  width: 1.8rem;
  height: 1.8rem;
}

.dropdown-content0 {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #fff;
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid #f0f0f0;
  min-width: 100px;
  width: 30rem;
  box-shadow: 0 4px 16px 0 rgb(0 0 0/20%);
  z-index: 100;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.login_container:hover .dropdown-content0 {
  display: block;
}

.login_container:hover {
  background-color: blue;
}

.login_container:hover .loginicon {
  filter: invert(100%);
}

.login_container:hover .loginText {
  color: white;
}

.arrowimg {
  transition: transform 0.3s ease;
}

.login_container:hover .arrowimg {
  transform: rotate(180deg) !important;
  filter: invert(100%);
}

.H6-NpN._3N4_BX:hover .XdYXbi {
  transform: rotate(180deg);
}

.loginText {
  font-size: medium;
}

._1TOQfO {
  text-decoration: none;
  box-sizing: border-box;
  padding: 0.8rem;
  display: flex;
  align-items: center;
}

._1TOQfO img {
  margin-right: 0.8rem;
}

/* for mobile devices */
@media (max-width: 480px) {
  .header__searchButton {
    padding-right: 10rem;
  }
}

/* for low resolution tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .header__searchButton {
    padding-right: 0.9rem;
  }
  .header__searchButtonText {
    font-size: 0.7rem;
    min-width: rem;
  }
  .icon {
    width: 3rem;
  }
  .header {
    padding: 0.5rem 0.1rem;
  }
  .loginText {
    font-size: 0.6rem;
  }
  .login_container {
    padding: 0.1rem;
  }
}

/* for tablets & Ipads  */
@media (min-width: 768px) and (max-width: 1024px) {
  .header__searchButton {
    padding-right: 0.2rem;
  }
  .header__searchButtonText {
    font-size: 0.9rem;
    min-width: 10rem;
  }
  .icon {
    width: 6rem;
  }
  .header {
    padding: 0.7rem 0.3rem;
  }
  .loginText {
    font-size: 0.6rem;
  }
  .login_container {
    padding: 0.2rem;
  }
}

/* for laptop & desktop */
@media (min-width: 1025px) and (max-width: 1280px) {
  .header__searchButton {
    padding-right: 1rem;
  }
  .header__searchButtonText {
    font-size: 1rem;
  }
  .icon {
    width: 7rem;
  }
  .login_container {
    /* padding: 0.2rem; */
  }
}

/* for large screen */
@media (max-width: 1281px) {
  .loginicon {
    width: 1rem;
  }
}
